<div class="container mt-4" style="padding-top: 70px">
  <h3 class="mb-3 text-center">🎟️ Select Your Seat</h3>
  <div class="seat-grid" style="display: flex; flex-wrap: wrap; width: 1300px">
    <div style="width: 1200px; display: flex; flex-wrap: wrap; margin: 50px">
      @for (seat of seats; track seat.id) {
      <div
        style="margin: 10px"
        (click)="toggleSeat(seat.id)"
        [ngStyle]="{
          'background-color': isSeatReserved(seat.id)
            ? 'weight'
            : isSelected(seat.id)
            ? 'yellow'
            : 'weight',
          cursor: isSeatReserved(seat.id) ? 'not-allowed' : 'pointer'
        }"
      >
        <img
          [src]="isSeatReserved(seat.id) ? 'assets/chair-y.png' : 'assets/chair-b.png'"
          width="100"
          height="100"
          alt="chair"
        />
      </div>
      }
    </div>
  </div>
  <button class="btn btn-primary" (click)="confirmSelection()">confirmSelection</button>
</div>
<h2>الخدمات الإضافية</h2>

<div class="services-list">
  <div *ngFor="let service of availableServices" class="service-item">
    <span>{{ service.name }} ({{ service.price }} جنيه)</span>
    <div class="quantity-controls">
      <button (click)="updateServiceQuantity(service, -1)">-</button>
      <span>{{ service.quantity }}</span>
      <button (click)="updateServiceQuantity(service, 1)">+</button>
    </div>
  </div>
</div>

<button (click)="showInvoice = !showInvoice">
  {{ showInvoice ? 'اخفاء الفاتورة' : 'عرض الفاتورة' }}
</button>

<div *ngIf="showInvoice" class="invoice">
  <h3>الفاتورة</h3>

  <h4>المقاعد المختارة:</h4>
  <ul>
    <li *ngFor="let seat of selectedSeats">{{ seat }}</li>
  </ul>

  <h4>الخدمات:</h4>
  <ul>
    @for(service of availableServices;track $index ){@if(service.quantity > 0){}
    <li>
      {{ service.name }} × {{ service.quantity }} = {{ service.price * service.quantity }} جنيه
    </li>
    }
  </ul>

  <h4>الإجمالي:</h4>
  <p>{{ calculateTotal() }} جنيه</p>
</div>
